<% include ../partials/head %>
    <title> index-page  </title>
<% include ../partials/header %>


<h1>login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>sumbit</button>
</form>

<% include ../partials/footer %>
