<% include ../partials/head %>
    <title> index-page  </title>
<% include ../partials/header %>

<h1>welcome to your private secret pages</h1>
<h1>conversations:</h1>

<% id_conv.forEach(function(id_conv){ %> <br>

<%= id_conv.parts %>
<a href='/c/<%= id_conv.id %>'><%= id_conv.id %></a>

<% }) %>


<% include ../partials/footer %>
